<h1>Citas</h1>
{% set fechaControl = citas[ 0 ].fecha %}

{% set continuar = true %}

{% for i in 0..10000 %}
	{% if continuar %}
		{% if ( fechaControl | date('N') ) != 1 %} 	
			{% set fechaControl = fechaControl | date_modify ("-1 day") %}
		{% else %}
			{% set continuar = false %}
		{% endif %}
    {% endif %} 
{% endfor %}

<ul>
    {% for cita in citas %}
        <li> <a href="{{path("citas_reserva", {'id': cita.id} )}}">{{ cita.fecha | date("d/m/Y") }} {{ cita.hora | date('H:i:s')  }}</a></li>
    {% endfor %}
</ul>
<br>

<table border="1">
<tr>
<th>Lunes</th><th>Martes</th><th>Miercoles</th><th>Jueves</th><th>Viernes</th>
</tr>


{% set i = 0 %}
{% for i in 0..citas|length - 1  %}
	entro{{ i }}			
	{% set j = i %}
	{% set i = i +1 %}		
	<tr>
	{% set weekday = 0 %}
	{% for k in 1..5  %}
			
		<td>
		{% if( j < citas|length - 1  and fechaControl | date('N') ) == k  %}
				
			{% set fecha = citas[ j ].fecha %}
			{{ fecha | date ("d/m/Y") }}
			<br>
			
			{% for j in j..citas|length - 1 %}
				{% if fecha == citas[ j ].fecha %}
					{{ citas[ j ].hora | date('H:i:s')  }}
				{% endif %} 
			{% endfor %} 
		
		{% else %} 
			{{ fechaControl |date ("d/m/Y") }}
			<br>
		{% endif %} 
		{% set weekday = k %}

	{% endfor %} 
		
	{% if( weekday == 5   )  %} 				
		{% set fechaControl = fechaControl | date_modify("+3 day") %}
	{% else %} 
		{% set fechaControl = fechaControl | date_modify("+1 day") %}
	{% endif %} 
	</td>
	
	{% if( i != j   )  %} 
		{% set i = j %}
	{% endif %}  
	
	{% set i = i + 1  %}
	
	</tr>
{% endfor %}
</table>
	